<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Menümüz</h2>
        <p><span class="description-title">BRC'de Menümüze</span> <span> bir göz atın</span></p>
    </div>

    <!-- End Section Title -->

    <div class="container">

        @await Component.InvokeAsync("_MenuCategoryDefaultComponentPartial")
        @await Component.InvokeAsync("_MenuProductDefaultComponentPartial")

    </div>

</section>