<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>BRC Food - Admin</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Admin/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Admin/assets/css/style.css">
    <link rel="stylesheet" href="~/Admin/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel='shortcut icon' type='image/x-icon' href='~/Admin/assets/img/favicon.ico' />
    <link rel="stylesheet" href="~/Admin/assets/css/custom.css">
    <style>
        .disabled-link {
            pointer-events: none !important;
            /* Tıklamayı engeller */
            color: gray !important;
            /* Görsel olarak pasif gösterir */
            text-decoration: none !important;
            cursor: default !important;
            z-index: -1;
        }
    </style>
</head>