.disabled-link {
    pointer-events: none !important;
    /* Tıklamayı engeller */
    color: gray !important;
    /* Görsel olarak pasif gösterir */
    text-decoration: none !important;
    cursor: default !important;
    z-index: -1;
}
