@model List<BrcFoodApp.WebUI.DTOs.CategoryDtos.ResultCategoryDto>

@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Kategori Listesi</h4>
                    </div>
                    <div class="card-body">
                        <a href="/Category/CreateCategory" class="btn my-3 btn-outline-success">
                           <i class="fas fa-plus-square "></i>
                           Yeni Kategori
                        </a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#I</th>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col">Aksiyonlar</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach(var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.CategoryName</td>
                                    <td>
                                       <div class="btn-group">
                                            <a href="/Category/UpdateCategory/@item.Id" class="btn btn-outline-warning">
                                              <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a href="/Category/DeleteCategory/@item.Id" class="btn btn-outline-danger">
                                              <i class="fas fa-trash-alt"></i>
                                            </a>
                                       </div>
                                    </td>
                                </tr>
                            }
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>