<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Hakkımızda<br></h2>
    <p><span class="description-title">Hakkımızda </span><span> Daha Fazla Bilgi Edinin</span> </p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/about.jpg" class="img-fluid mb-4" alt="">
        <div class="book-a-table">
          <h3>Rezervasyon yapın</h3>
          <p>+1 5589 55488 55</p>
        </div>
      </div>
      <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            Her tabakta kaliteyi, özeni ve şeflerimizin yıllara dayanan ustalığını bir araya getiren BRC, yemek
            deneyimini farklı ve unutulmaz bir boyuta taşır.
          </p>
          <ul>
            <li><i class="bi bi-check-circle-fill"></i> <span>Hijyen ve güvenilirlikten ödün vermeyen, modern ve tam
                donanımlı mutfak </span>
            </li>
            <li><i class="bi bi-check-circle-fill"></i> <span>Usta şeflerin ellerinden çıkan, özenli ve
                tatmin edici lezzetler.</span></li>
            <li><i class="bi bi-check-circle-fill"></i> <span>Her damak zevkine hitap eden, doyurucu, dengeli ve zengin
                menü seçenekleri.</span></li>
          </ul>
          <p>
            Misafirlerimizi ağırlarken yalnızca karın doyurmayı değil, aynı zamanda mutlulukla hatırlanacak keyifli bir
            deneyim, huzurlu bir atmosfer ve lezzet dolu anılar sunmayı hedefliyoruz.
          </p>

          <div class="position-relative mt-4">
            <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>