@model BrcFoodApp.WebUI.DTOs.ProductDtos.CreateProductDto

@{
    ViewData["Title"] = "Ürün Oluştur";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ürün Ekleme</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="CreateProduct">
                            <div class="form-group">
                              <label asp-for="ProductName" >Ürün Adı:</label>
                              <input asp-for="ProductName" class="form-control" >
                            </div>
                            <div class="form-group">
                              <label asp-for="Price" >Ürün Fiyatı:</label>
                              <input asp-for="Price" class="form-control" >
                            </div>
                            <div class="form-group">
                              <label asp-for="CategoryId" >Kategori:</label>
                              <input  asp-for="CategoryId" class="form-control" >
                            </div>
                            <div class="form-group">
                              <label asp-for="ImageUrl" >Image URL:</label>
                              <input type="text" asp-for="ImageUrl" class="form-control" >
                            </div>
                            <div class="form-group">
                              <label asp-for="Description" >Ürün Açıklaması:</label>
                              <textarea type="text" asp-for="Description" class="form-control" rows="5" ></textarea>
                            </div>
                            <button type="submit" class="btn btn-success" >Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>